<form action="//formspree.io/{{site.email}}"
      method="POST">
    <p>
        <label> Your name:
            <input type="text" name="name"/>
        </label>
    </p>
    <p>
        <label> Your email:
            <input type="email" name="_replyto"/>
        </label>
    </p>
    <label>
        <input type="text" name="_gotcha" style="display:none"/>
    </label>
    <p>
        <input type="submit" value="Subscribe"/>
    </p>
    <input type="hidden" name="_next" value="{{site.url}}thanks/" />
</form>
